* {
    box-sizing: border-box;
    margin: 0;

}

.scroll-container,
.scroll-area {
    height: 100vh;
    padding: auto;
    font-size: 2rem;
    margin: 70% auto;
}

.scroll-container {
    background-image: url("images/background-min.jpg");
    background-color: #eee;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    -webkit-scroll-snap-type: y mandatory;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    font-family: Itim, sans-serif;
    text-align: center;
}

.scroll-area {
    scroll-snap-align: start;
}

.scroll-container,
.scroll-area {
    margin: 0 auto;
}

.scroll-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #333;
}

form {
    width: 80%;
}

textarea {
    margin-top: 1rem;
    font-size: 15px;
    padding: 5px 0;
    display: block;
    width: 100%;
    height: 20vh;
    border: 1px solid #ddd;
    border-bottom: 1px solid #e0115f;
    resize: none;
}

textarea:focus {
    outline: none;
    border: 2px solid #e0115f;
}

a.send_form {
    color: #fff;
    background: #21a51f;
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    border-radius: .3rem;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 15px;
}

a.send_form:hover {
    cursor: pointer;
}

/* .scroll-area:nth-of-type(1) {
    background: #49b293;
}

.scroll-area:nth-of-type(2) {
    background: #c94e4b;
}

.scroll-area:nth-of-type(3) {
    background: #4cc1be;
}

.scroll-area:nth-of-type(4) {
    background: #8360A6;
} */

[text-split] {
    opacity: 0;
}

[anim-3] {
    line-height: 2;
    font-size: 3rem;
    font-family: Satisfy;
    color: #e0115f
}

[anim-5] {
    opacity: 1;
    width: 35%;
}

@media screen and (max-width: 800px) {
    .scroll-area {
        height: 100vh;
        padding: 20px;
        font-size: 1.5rem;
        margin: 90% auto;
    }

    [anim-3] {
        line-height: 1.8;
        font-size: 2.25rem;
    }

    [anim-5] {
        width: 45%;
    }

}

@media screen and (max-width: 400px) {
    .scroll-area {
        height: 100vh;
        padding: 15px;
        font-size: 0.8rem;
        margin: 95% auto;
    }

    [anim-3] {
        line-height: 1.5;
        font-size: 1.5rem;
    }

    [anim-5] {
        width: 85%;
    }
}